#contato{
	width: 99%;
	background: #ff0000;
	display: grid;
	grid-template-columns: 30% 60%;
	justify-items: stretch;
	align-items: stretch;
	justify-content: center;
	margin: 0 auto;
	border: 0px solid yellow;
	padding: 50px 0;
}
.item-contato{
	margin: 15px 15px;
	border: 0px solid yellow;
	white-space: nowrap;
}
.item-contato:nth-child(1){
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 20px;
}
.item-contato:nth-child(1) > h2{
	font-size: 50px;
}
.item-contato:nth-child(2){
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}
input{
	height: 50px;
}
input, textarea{
	color: #fff;
	background: rgba(255,50,0,1);
	box-shadow: none;
	border:none;
	width: 150%;
}
input:focus, textarea:focus{
	border: 1px solid #aaa;
}
input::placeholder, textarea::placeholder{
	color: #ccc;
}
form{
	width: 60%;
	border: 0px solid green;
}
.icon{
	margin: 0 10px 0 0;
}
.btn{
	width: 150px;
	border: 1px solid #fff;
	font-size: 20px;
	font-weight: bold;
	background: #f00;
	transition: .5s;
	margin-left: 20px;
}
.btn:hover{
	background: #fff;
	color: red;
	transform: scale(1.1);
	transition: .5s;
}
.item-contato:nth-child(1) > h4 > a{
	text-decoration: none;
	color: #fff;
}
.item-contato:nth-child(1) > h4 > a:hover{
	color: #bbb;
}