#servicos{
	width: 99%;
	display:flex;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: auto;
	background: #fff;
	padding: 50px 0 100px 0;
	color: #000;
}
.servicos-1{
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	color:#000;
	margin: auto;
}
.servicos-item:nth-child(1){
	font-size: 50px;
}
.servicos-item:nth-child(3){
	font-size: 20px;
}
.logos{
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin-top: 40px;
	margin-left: 10px;
}
